/*Reset*/
.xian { margin-top: 40px; border-top-width: 1px; border-top-style: dotted; border-top-color: #CCC; }

.cls{clear:both;line-height:0px!important;height:0px!important;font-size:0px!important}
select,input{vertical-align:middle;font-size:12px}
a{color:#444;text-decoration:none}
a:visited{color:#918b8e;text-decoration:none}
a:hover{color:#00aa3a}
a:active{color:#666}
.undis,.hidden,.play{display:none}
/*basic*/
html{height:100%;width:100%}
.wrap{width:1318px;margin:0 auto;position:relative}
.mobile_nav_wrap{width:100%;position:relative}
.cm_ico{background:url(../img/common_bg.gif) no-repeat}
.cm_ico2{background:url(../img/toptel_bg.png) no-repeat;}
.ico_os, .ico_gt, .ico_pp{ background:url(../img/dh.gif) no-repeat;}
.onlineService{ background:none; width:49px; height:196px;position:fixed; right:0; bottom:51px; _position:absolute; z-index:999995;}
.onlineService .ico_os{ background-position:0px 0px; border:1px solid #c7c7c7; cursor:pointer; width:47px; height:98px; float:right;}
.onlineService .ico_gt{ background-position:right 0; border:1px solid #299ec0; cursor:pointer; width:47px; height:47px; float:right; clear:both;}
.onlineService .ico_pp{ background-position:right -60px; border:1px solid #81b140; cursor:pointer; width:47px; height:47px; float:right; margin:0; clear:both;}	
.quikPub { z-index:999995; background:url(../img/tmbg.png) repeat; text-align:center; padding:10px 0; width:100%; display:block; color:#fff; height:29px; }
.quikPub span{font-size: 22px;vertical-align: middle;font-weight: bold;margin-right: 30px;font-family: '微软雅黑';}
.quikPub input{width:220px; border:1px solid #000; vertical-align:middle; padding:2px 5px; color:#000; margin-right:20px; height:25px;}
a.pubClose { z-index:99; cursor:pointer; width:25px; height:25px; display:block; background:url(../img/pubClose.gif) no-repeat; position:absolute; right:10px; bottom:12px; }
a.pubClose:hover, a.tbsPay:hover, ul.rS li a:hover, .proDetail ul li a:hover img { opacity:0.7; -ms-filter:"alpha(opacity=70)"; filter:alpha(opacity=70); }
a.quikBtn { background:#f60; vertical-align:middle; padding:6px 20px; *padding:6px 20px;
color:#fff; font-size:16px; box-shadow:0 0 5px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset; border-radius: 3px; }
a.quikBtn:hover { background:#333; }
a.quikPubB { right:-49px; bottom:0; width:49px; z-index:999998; height:49px; display:block; background:url(../img/hot_case.png) no-repeat 0 -528px; }
a.quikPubB:hover { background-position:0 -578px; }   
.quikPub, a.quikPubB { bottom:0; position:fixed; right:0; }
.quikPub, a.quikPubB, #drift { _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight));} 
 